<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
This video demonstrates how to use this room balloting app.
<br>
  </br>
https://www.youtube.com/watch?v=86JZKXCWBQI
<br>
</br>
If you have more questions, please contact us at a0133888@u.nus.edu.
</p>