<% provide(:title, 'All Rooms') %>
<h1>All rooms</h1>

<ul class="rooms">
  <% @rooms.each do |room| %>
    <li>
        <%= room.block.to_s << '-' << room.name.to_s %> <%= " "<< room.sd.to_s<< " " << room.gender%>
        <%=
          if room.resident.nil?
            " available"
          else
            room.resident
          end
        %>
        <li><%= link_to "Choose", edit_room_path(room) %></li>
        
    </li>
  <% end %>
</ul>

